*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.box-1,.box-2,.box-3{
    width: 500px;
    height: 50%;
    margin: 0px 20px;
    text-align: center;
    font-size: 3.5rem;
}

img{
    height: 100%;
    width: 100%;
}

.box:hover{
    border: 5px solid rgb(84, 131, 150);
    cursor: pointer;
}

.score{
    text-align: center;
    font-size: 3rem;
}
.text{
    color: rgb(0, 0, 0);
}


@media  screen and (max-width: 600px) {
    .main{
        width: 100%;
        height: 10vh;
        display: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box-1,.box-2,.box-3{
       font-size: 1.5rem;
        margin: .5rem ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .score{
        
      text-align: center;
      font-size: 1.5rem;
    }
   
     .box-2{
        width: 30%;
        height: 50%;
    }
     .box-1{
        width: 30%;
        height: 50%;
    }
     .box-3{
        width: 30%;
        height: 50%;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        background-size: 100% 100%;
    }
    .min-box{
        height: 100px;
        width: 100px;
    }
    .text{
        width: 100px;
        height: 20px;
        font-size: 1.2rem;
    }

}